
@{
    ViewData["Title"] = "AboutUS";

    Layout = "~/Views/Shared/_PastoralTeamLayout.cshtml";
}





    <main id="saved-content">


        <div id="saved-content-inner">





            <article id="post-35" class="saved-entry-full saved-centered-medium saved-loop-after-content-not-used saved-entry-has-content post-35 page type-page status-publish hentry ctfw-no-image">

                <h1 id="saved-main-title">
                    About
                </h1>

                <div class="saved-entry-content saved-entry-full-content">


                    <h2><a href="#">Who We Are</a></h2>
                    <p><a href="who-we-are/index.html"><img class="alignnone wp-image-2900 size-large" src="~/img/Membership1024X320.jpg" alt="" width="1024" height="320" srcset="~/img/Membership1024X320.jpg 1024w, ~/img/Membership300X94.jpg 300w, ~/img/Membership768X240.jpg 768w, ~/img/Membership.jpg 1920w" sizes="(max-width: 1024px) 100vw, 1024px" /></a>“A little write up about WHo We Are.. A little write up about WHo We Are.. A little write up about WHo We Are.. A little write up about WHo We Are.. A little write up about WHo We Are.. A little write up about WHo We Are.” … <a href="#"></a></p>
                    <h2><a href="#">Societies</a></h2>
                    <p><a href="#"><img class="alignnone wp-image-2899 size-large" src="~/img/Society1024X320.jpg" alt="" width="1024" height="320" srcset="~/img/Society1024X320.jpg 1024w, ~/img/Society300X94.jpg 300w, ~/img/Society768X240.jpg 768w, ~/img/Society.jpg 1920w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
                    <p class="p1"><span class="s1">“A brief introduction on each Society.. A brief introduction on each Society.. A brief introduction on each Society.. A brief introduction on each Society.. A brief introduction on each Society..” </span><span class="s2">… <a href="#"></a></span></p>
                    <h2><a href="#">Membership</a></h2>
                    <p><a href="#"><img class="alignnone wp-image-2898 size-large" src="~/img/Building1024X320.jpg" alt="" width="1024" height="320" srcset="~/img/Building1024X320.jpg 1024w, ~/img/Building300X94.jpg 300w, ~/img/Building768X240.jpg 768w, ~/img/Building.jpg 1920w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
                    <p class="p1"><span class="s1">REquirements for becoming a member and other obligations<strong>.</strong> </span><span class="s2">…<a href="#"></a></span></p>
                    <h2><a href="#">Contact US</a></h2>
                    <p><a href="#"><img class="alignnone wp-image-2897 size-large" src="~/img/map1024X320.png" alt="" width="1024" height="320" srcset="~/img/map1024X320.png 1024w, ~/img/map300X94.png 300w, ~/img/map768X240.png 768w,  ~/img/map.png 1920w" sizes="(max-width: 1024px) 100vw, 1024px" /></a></p>
                    <p class="p1"><span class="s1">“” </span><span class="s2">… <a href="membership/index.html"></a></span></p>
                    <p>&nbsp;</p>
                    <hr />
                    <p><a class="saved-button" href="#">Become a Member</a>  <a class="saved-button" href="#">Join a Society</a>  <a class="saved-button" href="#">Contact Us</a></p>



                </div>

            </article>






        </div>
    </main>
