
@{
    ViewData["Title"] = "NwodoDetail";
    Layout = "~/Views/Shared/_PastoralTeamLayout.cshtml";
}

<main id="saved-content">

    <div id="saved-content-inner">

        <article id="post-84" class="saved-entry-full saved-person-full post-84 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">

            <header class="saved-entry-full-header saved-centered-large">


                <h1 id="saved-main-title">
                    Rev Fr Augustine Uchenna Nwodo
                </h1>



                <ul class="saved-entry-meta saved-entry-full-meta">


                    <li id="saved-person-position" class="saved-entry-full-meta-bold">
                        Cssp. Parish Priest
                    </li>




                    <li id="saved-person-email">
                        <a href="mailto:">
                            fraustine@stfrancisoregun.corg
                        </a>
                    </li>



                </ul>


            </header>


            <div id="saved-person-content" class="saved-entry-content saved-entry-full-content saved-centered-small">

                <p><img class="wp-image-26 size-medium alignleft" src="../../img/fr-austine300x300.jpg" alt="" width="300" height="300" srcset="../../img/fr-austine300x300.jpg 300w, 150w,  768w, 1024w,720w, 160w, 1333w" sizes="(max-width: 300px) 100vw, 300px" />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            </div>

        </article>

    </div>

</main>
