
@{
    ViewData["Title"] = "Online";

    Layout = "~/Views/Shared/_PastoralTeamLayout.cshtml";
}





    <main id="saved-content">


        <div id="saved-content-inner">





            <article id="post-35" class="saved-entry-full saved-centered-medium saved-loop-after-content-not-used saved-entry-has-content post-35 page type-page status-publish hentry ctfw-no-image">

                <h1 id="saved-main-title">
                    About
                </h1>

                <div class="saved-entry-content saved-entry-full-content">


                    <h2><a href="#">Comming Soon...</a></h2>
                  



                </div>

            </article>






        </div>
    </main>
