
@{
    ViewData["Title"] = "PastoralTeam";
    Layout = "~/Views/Shared/_PastoralTeamLayout.cshtml";
}
<main id="saved-content" class="saved-bg-contrast">
    <div id="saved-content-inner" class="saved-centered-large saved-entry-content">


        <h1 id="saved-main-title">Pastoral Team</h1>

        <div id="saved-loop-multiple" class="saved-clearfix saved-loop-entries saved-loop-four-columns">




            <article id="post-84" class="saved-person-short saved-entry-short saved-entry-has-image saved-entry-has-excerpt post-84 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">



                <div class="saved-entry-short-image saved-hover-image">


                    <div class="saved-person-short-position saved-entry-short-label">
                        Cssp. Parish Priest
                    </div>



                    <a href="/home/nwododetail" title="Fr-Austine">
                        <img width="720" height="480" src="../../img/fr-austine2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="../../img/fr-austine2.jpg 720w, ../../img/fr-austine480x320.jpg 480w, ../../img/fr-austine200x133.jpg 200w" sizes="(max-width: 720px) 100vw, 720px" />
                    </a>


                </div>


                <div class="saved-entry-short-inner">

                    <header class="saved-entry-short-header">


                        <h2 class="saved-entry-short-title">


                            <a href="/home/nwododetail" title="">Rev Fr Augustine Nwodo </a>


                        </h2>



                        <ul class="saved-entry-meta saved-entry-short-meta">



                            <li class="saved-person-short-email">
                                <a href="mailto:">
                                    fraustine@stfrancisoregun.org
                                </a>
                            </li>



                        </ul>


                    </header>


                    <div class="saved-entry-content saved-entry-content-short">
                        A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;&hellip;
                    </div>

                </div>

            </article>



            <article id="post-86" class="saved-person-short saved-entry-short saved-entry-has-image saved-entry-has-excerpt post-86 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">



                <div class="saved-entry-short-image saved-hover-image">


                    <div class="saved-person-short-position saved-entry-short-label">
                        Assistant Parish Priest
                    </div>



                    <a href="/home/lambertdetail" title="Lambert Detail">
                        <img width="720" height="480" src="~/img/fr-lambert2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="~/img/fr-lambert2.jpg 720w, ~/img/fr-lambert480x320.jpg 480w, ~/img/fr-lambert200x133 200w" sizes="(max-width: 720px) 100vw, 720px" />
                    </a>


                </div>


                <div class="saved-entry-short-inner">

                    <header class="saved-entry-short-header">


                        <h2 class="saved-entry-short-title">


                            <a href="/home/lambertdetail" title="">Rev Fr Lambert Nlemadim</a>


                        </h2>



                        <ul class="saved-entry-meta saved-entry-short-meta">



                            <li class="saved-person-short-email">
                                <a href="mailto:">
                                    frlambart@stfrancisoregun.org
                                </a>
                            </li>



                        </ul>


                    </header>


                    <div class="saved-entry-content saved-entry-content-short">
                        A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;
                        A little information about you here;&hellip;
                    </div>

                </div>

            </article>



            <article id="post-87" class="saved-person-short saved-entry-short saved-entry-has-image saved-entry-has-excerpt post-87 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">



                <div class="saved-entry-short-image saved-hover-image">


                    <div class="saved-person-short-position saved-entry-short-label">
                        Vice Chairman Parish Finance Council
                    </div>



                    <a href="/home/Chinedudetail" title="chinedu">
                        <img width="720" height="480" src="../../img/chinedu.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="../../img/chinedu.jpg 720w, ../../img/chinedu480X320.jpg 480w, ../../img/chinedu200X133.jpg 200w" sizes="(max-width: 720px) 100vw, 720px" />
                    </a>


                </div>


                <div class="saved-entry-short-inner">

                    <header class="saved-entry-short-header">


                        <h2 class="saved-entry-short-title">


                            <a href="/home/Chinedudetail" title="">Bro. Chinedu  Nnadi</a>


                        </h2>



                        <ul class="saved-entry-meta saved-entry-short-meta">



                            <li class="saved-person-short-email">
                                <a href="mailto:">
                                    +234 080---------
                                </a>
                            </li>



                        </ul>


                    </header>


                    <div class="saved-entry-content saved-entry-content-short">
                        A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;&hellip;
                    </div>

                </div>

            </article>
            <article id="post-87" class="saved-person-short saved-entry-short saved-entry-has-image saved-entry-has-excerpt post-87 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">



                <div class="saved-entry-short-image saved-hover-image">


                    <div class="saved-person-short-position saved-entry-short-label">
                        Vice Chairman PPC
                    </div>



                    <a href="/home/Peterdetail" title="Peter">
                        <img width="720" height="480" src="../../img/peter.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="../../img/peter.jpg 720w, ../../img/peter480x320.jpg 480w, ../../img/peter200X133.jpg 200w" sizes="(max-width: 720px) 100vw, 720px" />
                    </a>


                </div>


                <div class="saved-entry-short-inner">

                    <header class="saved-entry-short-header">


                        <h2 class="saved-entry-short-title">


                            <a href="/home/Peterdetail" title="">Bro Peter Chuks Nwachukwu</a>


                        </h2>



                        <ul class="saved-entry-meta saved-entry-short-meta">



                            <li class="saved-person-short-email">
                                <a href="mailto:">
                                    +234 080---------
                                </a>
                            </li>



                        </ul>


                    </header>


                    <div class="saved-entry-content saved-entry-content-short">
                        A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;&hellip;
                    </div>

                </div>

            </article>


            <article id="post-88" class="saved-person-short saved-entry-short saved-entry-has-image saved-entry-has-excerpt post-88 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">



                <div class="saved-entry-short-image saved-hover-image">


                    <div class="saved-person-short-position saved-entry-short-label">
                        President Catholic Women Organization
                    </div>



                    <a href="/home/Iniobongdetail" title="Iniobong Onwukwe">
                        <img width="720" height="480" src="~/img/mrs2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="~/img/mrs2.jpg 720w, ~/img/mrs480x320.jpg 480w, ~/img/mrs200x133.jpg 200w" sizes="(max-width: 720px) 100vw, 720px" />
                    </a>


                </div>


                <div class="saved-entry-short-inner">

                    <header class="saved-entry-short-header">


                        <h2 class="saved-entry-short-title">


                            <a href="/home/Iniobongdetail" title="">Barr Mrs Iniobong Onwukwe</a>


                        </h2>



                        <ul class="saved-entry-meta saved-entry-short-meta">



                            <li class="saved-person-short-email">
                                <a href="mailto:">
                                    +234 080---------
                                </a>
                            </li>



                        </ul>


                    </header>


                    <div class="saved-entry-content saved-entry-content-short">
                        A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;&hellip;
                    </div>

                </div>

            </article>







            <article id="post-88" class="saved-person-short saved-entry-short saved-entry-has-image saved-entry-has-excerpt post-88 ctc_person type-ctc_person status-publish has-post-thumbnail hentry ctc_person_group-pastors ctfw-has-image">



                <div class="saved-entry-short-image saved-hover-image">


                    <div class="saved-person-short-position saved-entry-short-label">
                        Chairman, Parish Laity Council
                    </div>



                    <a href="/home/Thomasdetail" title="Togolo Thomas">
                        <img width="720" height="480" src="~/img/mr2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="~/img/mr2.jpg 720w, ~/img/mr2480X320.jpg 480w, ~/img/mr2200X133.jpg 200w" sizes="(max-width: 720px) 100vw, 720px" />
                    </a>


                </div>


                <div class="saved-entry-short-inner">

                    <header class="saved-entry-short-header">


                        <h2 class="saved-entry-short-title">


                            <a href="/home/Thomasdetail" title="">Bro. Togolo Amevi Thomas</a>


                        </h2>



                        <ul class="saved-entry-meta saved-entry-short-meta">



                            <li class="saved-person-short-email">
                                <a href="mailto:">
                                    +234 080---------
                                </a>
                            </li>



                        </ul>


                    </header>


                    <div class="saved-entry-content saved-entry-content-short">
                        A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;A little information about you here;&hellip;
                    </div>

                </div>

            </article>
        </div>

    </div>
</main>